@model Vidly.Models.Movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    <li>Genre: @Model.MovieType.Genre</li>
    @if (Model.ReleaseDate.HasValue)
    {
        <li>Date of Birth: @Model.ReleaseDate.Value.ToShortDateString()</li>
    }
    @*<li>Release Date: @Model.ReleaseDate</li>*@
    @if (Model.DateAdded.HasValue)
    {
        <li>Date of Birth: @Model.DateAdded.Value.ToShortDateString()</li>
    }
    @*<li>Date Added: @Model.DateAdded.</li>*@
    <li>Number in Stock: @Model.NumberInStock</li>
</ul>

<p>
    @Html.ActionLink("Edit Detatils", "Edit", "Movies", null, new { @class = "btn btn-primary" })
</p>